<main>
    <div class="container">
        <div class="jumbotron">
            <div>
                <h1>{{ aboutMessage }} <small>Eine Demoseite</small>
                </h1>
            </div>
            <div class="container">
                <section>
                    <h2>Anmeldung</h2>
                    <p>{{ 'ABOUT.TEXT' | translate }}</p>
                    <button class="btn btn-primary" (click)="changeLanguage('de')">Deutsch</button>
                    <button class="btn btn-default" (click)="changeLanguage('en')">English</button>

                    <button class="btn btn-primary" (click)="createMessages()">Erzeuge Notifications</button>
                </section>
            </div>
            <div class="spacer"></div>
            <div class="container">
                <section>
                    <h2>Per Http-Service geladene Posts</h2>

                    <p>Im Viewmodel sind {{ posts?.length }} Posts vorhanden</p>

                    <p>Der erste Post hat den Titel: </p>
                    <pre>{{ posts ? posts[0].title : '' }}</pre>

                    <p>Der Post mit der Id {{ postById?.id }} hat den Titel:</p>
                    <pre>{{ postById?.title }}</pre>
                </section>
            </div>
        </div>
    </div>
</main>