<main>
    <div class="container" role="main">
        <p>
            This page illustrates the most commonly used components in ESTA WebJS 2. Please visit
            <a target="_blank" href="{{bootstrapDocumentationUrl}}/alerts/">The official boostrap 4 website</a> or click
            on one of the docs links below for more detailed informations.
        </p>

        <h1 class="display-4 title">Breadcrumb
        </h1>
        <p-breadcrumb [model]="breadCrumbItems"></p-breadcrumb>

        <h1 class="display-4 title">Navs
            <a href="{{bootstrapDocumentationUrl}}/navs/" target="_blank">
                <small>(Docs)</small>
            </a>
        </h1>
        <p-megaMenu [model]="megaMenuItems"></p-megaMenu>
        <p-menu [model]="contextMenuItems"></p-menu>
        <p-panelMenu [model]="panelMenuItems" [style]="{'width':'300px'}"></p-panelMenu>

        <h1 class="display-4 title">Buttons
            <a href="{{bootstrapDocumentationUrl}}/buttons/" target="_blank">
                <small>(Docs)</small>
            </a>
        </h1>
        <p>
            <button pButton class="ui-button-primary" type="button" label="Click"></button>
            <button pButton class="ui-button-secondary" type="button" label="Click"></button>
            <button pButton class="ui-button-succcess" type="button" label="Click"></button>
            <button pButton class="ui-button-info" type="button" label="Click"></button>
            <button pButton class="ui-button-warning" type="button" label="Click"></button>
            <button pButton class="ui-button-danger" type="button" label="Click"></button>
        </p>

        <h1 class="display-4 title">Button Groups
        </h1>

        <p-selectButton [options]="selectItems" [(ngModel)]="selectedItem"></p-selectButton>


        <h1 class="display-4 title">Forms
            <a href="{{bootstrapDocumentationUrl}}/forms/" target="_blank">
                <small>(Docs)</small>
            </a>
        </h1>

        <div class="ui-grid ui-grid-responsive ui-grid-pad">
            <div class="ui-grid-row">
                <div class="ui-grid-col-6">
                    <div class="ui-grid-col-4">
                        InputText
                    </div>
                    <div class="ui-grid-col-8">
                        <input pInputText type="text"/>
                    </div>
                </div>
                <div class="ui-grid-col-6">
                    <div class="ui-grid-col-4">
                        Textarea
                    </div>
                    <div class="ui-grid-col-8">
                        <textarea pInputTextarea type="text"></textarea>
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-6">
                    <div class="ui-grid-col-4">
                        Calendar
                    </div>
                    <div class="ui-grid-col-8">
                        <p-calendar [(ngModel)]="date"></p-calendar>
                    </div>
                </div>
                <div class="ui-grid-col-6">
                    <div class="ui-grid-col-4">
                        AutoComplete
                    </div>
                    <div class="ui-grid-col-8">
                        <p-autoComplete [(ngModel)]="country" [suggestions]="filteredCountriesSingle"
                                        (completeMethod)="filterCountrySingle($event)" field="name" [size]="30"
                                        placeholder="Countries" [minLength]="1"></p-autoComplete>
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-6">
                    <div class="ui-grid-col-4">
                        Button
                    </div>
                    <div class="ui-grid-col-8">
                        <button pButton label="Save" type="button"></button>
                    </div>
                </div>
                <div class="ui-grid-col-6">
                    <div class="ui-grid-col-4">
                        SplitButton
                    </div>
                    <div class="ui-grid-col-8">
                        <p-splitButton label="Save" icon="fa-check" [model]="splitMenuItems"></p-splitButton>
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-6">
                    <div class="ui-grid-col-4">
                        Dropdown
                    </div>
                    <div class="ui-grid-col-8">
                        <p-dropdown [options]="selectItems" [(ngModel)]="selectedItem" [autoWidth]="false"></p-dropdown>
                    </div>
                </div>
                <div class="ui-grid-col-6">
                    <div class="ui-grid-col-4">
                        Password
                    </div>
                    <div class="ui-grid-col-8">
                        <input type="text" pPassword/>
                    </div>
                </div>
            </div>

            <div class="ui-grid-row">
                <div class="ui-grid-col-6">
                    <div class="ui-grid-col-4">
                        Listbox
                    </div>
                    <div class="ui-grid-col-8">
                        <p-listbox [options]="options" [(ngModel)]="selectedOptions"></p-listbox>
                    </div>
                </div>
                <div class="ui-grid-col-6">
                    <div class="ui-grid-col-4">
                        RadioButton
                    </div>
                    <div class="ui-grid-col-8">
                        <div class="ui-grid ui-grid-responsive">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-1">
                                    <p-radioButton name="group1" value="Option 1" [(ngModel)]="val"></p-radioButton>
                                </div>
                                <div class="ui-grid-col-11"><label class="ui-widget">Option 1</label></div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-1">
                                    <p-radioButton name="group1" value="Option 2" [(ngModel)]="val"></p-radioButton>
                                </div>
                                <div class="ui-grid-col-11"><label class="ui-widget">Option 2</label></div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-1">
                                    <p-radioButton name="group1" value="Option 3" [(ngModel)]="val"></p-radioButton>
                                </div>
                                <div class="ui-grid-col-11"><label class="ui-widget">Option 3</label></div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-1">
                                    <p-radioButton name="group1" value="Option 4" [(ngModel)]="val"></p-radioButton>
                                </div>
                                <div class="ui-grid-col-11"><label class="ui-widget">Option 4</label></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="display-4 title">Cards
            <a href="{{bootstrapDocumentationUrl}}/card/" target="_blank">
                <small>(Docs)</small>
            </a>
        </h1>
        <div class="ui-grid-row">
            <p-panel>
                <p-header>
                    Header content here
                </p-header>
                Body Content
            </p-panel>
            <p-panel header="Godfather I" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
                The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's
                wedding.
                His beloved son Michael has just come home from the war, but does not intend to become part of his
                father's business.
                Through Michael's life the nature of the family business becomes clear. The business of the family is
                just like the head of the family,
                kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands
                against the good of the family.
            </p-panel>

            <p-panel>
                <p-header>
                    <div class="ui-helper-clearfix">
                        <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Custom Header</span>
                        <p-splitButton [style]="{'float':'right'}" label="Save" icon="fa-check" (onClick)="save()"
                                       [model]="items"></p-splitButton>
                    </div>
                </p-header>
                The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's
                wedding.
                His beloved son Michael has just come home from the war, but does not intend to become part of his
                father's business.
                Through Michael's life the nature of the family business becomes clear. The business of the family is
                just like the head of the family,
                kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands
                against the good of the family.
            </p-panel>
        </div>

        <h1 class="display-4 title">Tables
            <a href="https://v4-alpha.getbootstrap.com/content/tables/" target="_blank">
                <small>(Docs)</small>
            </a>
        </h1>

        <h3 class="first">Basic</h3>
        <p-dataTable [value]="cars">
            <p-column field="vin" header="Vin"></p-column>
            <p-column field="year" header="Year"></p-column>
            <p-column field="brand" header="Brand"></p-column>
            <p-column field="color" header="Color"></p-column>
        </p-dataTable>

        <h1 class="display-4 title">Alerts
            <a href="{{bootstrapDocumentationUrl}}/alerts/" target="_blank">
                <small>(Docs)</small>
            </a>
        </h1>


        <p-messages [(value)]="msgs"></p-messages>

        <div>
            <button type="button" pButton (click)="showSuccess()" label="Success" class="ui-button-success"></button>
            <button type="button" pButton (click)="showInfo()" label="Info" class="ui-button-info"></button>
            <button type="button" pButton (click)="showWarn()" label="Warn" class="ui-button-warning"></button>
            <button type="button" pButton (click)="showError()" label="Error" class="ui-button-danger"></button>
            <button type="button" pButton (click)="showMultiple()" label="Multiple"></button>
            <button type="button" pButton (click)="clear()" icon="fa-close" style="float:right" label="Clear"></button>
        </div>
    </div>
    <!--/.container main-->

</main>
