<main>
    <div class="jumbotron">
        <p-growl [(value)]="messages" sticky="sticky"></p-growl>
        <h1>{{ aboutMessage }}
            <small>Eine Demoseite</small>
        </h1>
        <section>
            <h2 id="about-title">{{ 'ABOUT.TITLE' | translate }}</h2>
            <p id="about-subtitle">{{ 'ABOUT.SUBTITLE' | translate }}</p>
            <button id="change-to-german-button" pButton type="button" class="ui-button-primary"
                    label="{{ 'ABOUT.GERMAN' | translate }}"
                    (click)="changeLanguage('de')"></button>
            <button id="change-to-english-button" pButton type="button" class="ui-button-secondary"
                    label="{{ 'ABOUT.ENGLISH' | translate }}"
                    (click)="changeLanguage('en')">
            </button>
            <button pButton type="button" class="ui-button-success" (click)="createMessages()"
                    label="{{ 'ABOUT.NOTIFICATIONS' | translate }}"></button>
        </section>
        <section>
            <h2>Per Http-Service geladene Posts</h2>
            <p>Im Viewmodel sind {{ posts?.length }} Posts vorhanden</p>

            <p>Der erste Post hat den Titel: </p>
            <pre>{{ posts ? posts[0].title : '' }}</pre>
            <p>Der Post mit der Id {{ postById?.id }} hat den Titel:</p>
            <pre>{{ postById?.title }}</pre>
        </section>
    </div>
</main>