@import 'sbb-colors';
/* Tabview */
.ui-tabview {
  padding-left: 0;
  padding-right: 0;

  .ui-tabview-nav {
    background: transparent;
  }

  .ui-tabview-panels {
    border: 1px solid $contentBorderColor;
  }
}

/* Inputs */
.ui-inputtext, .ui-multiselect {
  &.ui-state-default {
    background-color: $sbb-white;
    &:hover {
      -moz-box-shadow: 0 0 5px $sbb-black-80;
      -webkit-box-shadow: 0 0 5px $sbb-black-80;
      box-shadow: 0 0 5px $sbb-black-80;
      background-color: $sbb-white;
    }
  }

  &.ui-state-focus,
  &:focus,
  &.ui-state-hover,
  &:hover {
    -moz-box-shadow: 0 0 5px $sbb-black-80;
    -webkit-box-shadow: 0 0 5px $sbb-black-80;
    box-shadow: 0 0 5px $sbb-black-80;
  }
}

/* DataTable  */
p-datatable:focus .ui-datatable tbody > tr.ui-widget-content.ui-state-highlight {
  background-color: $sbb-black-80;
  color: $sbb-black-10;
}

.ui-datatable {
  .ui-datatable-scrollable-body {
    overflow-y: scroll;
  }
  .ui-widget-header {
    background-color: $sbb-white;
  }
  th.ui-state-active {
    background: $sbb-black-80;
    border-color: $sbb-black-20;
    color: $sbb-black-10;
  }

  tbody {
    > tr.ui-widget-content {
      &.ui-datatable-odd {
        background-color: $sbb-black-5;
      }

      &.ui-state-highlight {
        background-color: $sbb-black-40;
        color: $sbb-black-100;
      }

      td {
        white-space: nowrap;
        text-overflow: ellipsis;
        .ui-button.ui-button-icon-only .ui-button-text {
          padding: 0;
        }
      }
    }
  }
}

/* Panel */
.ui-panel.ui-widget {
  border-width: 1px;
  padding: 0;
}

/* Validation */
.ui-inputtext.ng-dirty.ng-invalid,
p-dropdown.ng-dirty.ng-invalid > .ui-dropdown,
p-autocomplete.ng-dirty.ng-invalid > .ui-autocomplete > .ui-inputtext,
p-calendar.ng-dirty.ng-invalid > .ui-inputtext,
p-chips.ng-dirty.ng-invalid > .ui-inputtext,
p-inputmask.ng-dirty.ng-invalid > .ui-inputtext,
p-checkbox.ng-dirty.ng-invalid .ui-chkbox-box,
p-radiobutton.ng-dirty.ng-invalid .ui-radiobutton-box,
p-inputswitch.ng-dirty.ng-invalid .ui-inputswitch,
p-listbox.ng-dirty.ng-invalid .ui-inputtext,
p-multiselect.ng-dirty.ng-invalid > .ui-multiselect,
p-spinner.ng-dirty.ng-invalid > .ui-inputtext,
p-selectbutton.ng-dirty.ng-invalid .ui-button,
p-togglebutton.ng-dirty.ng-invalid .ui-button {
  border: $stateDefaultBorderWidth solid $invalidInputBorderColor;
  -moz-box-shadow: 0 0 5px $invalidInputBorderColor;
  -webkit-box-shadow: 0 0 5px $invalidInputBorderColor;
  box-shadow: 0 0 5px $invalidInputBorderColor;
}

/* Tooltip */
.ui-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.ui-tooltip-bottom .ui-tooltip-arrow {
  top: -0.25em;
  left: 50%;
  margin-left: -.25em;
  border-width: 0 .5em .5em;
  border-bottom-color: transparent;
}

.ui-tooltip .ui-tooltip-text {
  padding: .25em .5em .375em .5em;
  background-color: $sbb-white;
  color: $sbb-black-100;
  white-space: normal;
  border: 1px solid $sbb-black-60;
}

/*
IE11 unterstützt das natürlich nicht. Im Firefox hingegen geht es wunderbar. Man muss zurätzlich auf dem p-datatable-Tag das Attribut scrollHeight restlos entfernen.
Zwecks Dokumentation lasse ich das mal kommentiert hier drin. In der endgültigen Variante muss es
  1. generalisiert werden (klappt in dieser Form ausschliesslich für die Einzelereignis-Tabelle)
  2. in die entsprechenden SASS-Dateien aufgetrennt werden.
*/
/*
split-area.ereignislisten {
  display: flex;
  flex-direction: column;

  app-einzelereignis-liste {
    flex-grow: 1;

    .comp_einzelereignis-liste {
      display: flex;
      flex-direction: column;
      min-height: 100%;

      p-datatable {
        display: flex;
        flex-grow: 1;

        .ui-datatable.ui-datatable-scrollable .ui-datatable-scrollable-wrapper {
          display: flex;
          min-height: 100%;

          .ui-datatable-scrollable-view {
            display: flex;
            flex-direction: column;

            .ui-datatable-scrollable-body {
              flex-grow: 1;
              height: 0;
            }
          }
        }
      }
    }
  }
}
*/
