<main>
    <p>
        This page illustrates some PrimeNG Components. Please visit
        <a target="_blank" href="{{primengBaseDocumentationUrl}}">the official PrimeNg Docu</a> for more components and
        detailed information
    </p>
    <p-panel>
        <p-header>
            <h1>Breadcrumb
                <a target="_blank" href="{{primengBaseDocumentationUrl}}/breadcrumb">
                    <small>(Docs)</small>
                </a>
            </h1>
        </p-header>
        <p-breadcrumb [model]="breadCrumbItems"></p-breadcrumb>
    </p-panel>
    <p-panel>
        <p-header>
            <h1>Buttons
                <a target="_blank" href="{{primengBaseDocumentationUrl}}/button">
                    <small>(Docs)</small>
                </a>
            </h1>
        </p-header>
        <div>
            <button pButton type="button" class="ui-button-primary" label="Primary"></button>
            <button pButton type="button" class="ui-button-secondary" label="Secondary"></button>
            <button pButton type="button" class="ui-button-success" label="Success"></button>
            <button pButton type="button" class="ui-button-info" label="Info"></button>
            <button pButton type="button" class="ui-button-warning" label="Warning"></button>
            <button pButton type="button" class="ui-button-danger" label="Danger"></button>
        </div>
        <div>
            <button pButton type="button" label="Click"></button>
            <button pButton type="button" label="Click"></button>
            <button pButton type="button" label="Click"></button>
            <button pButton type="button" label="Disabled"></button>
        </div>
        <div>
            <h3>Split Buttons
                <a target="_blank" href="{{primengBaseDocumentationUrl}}/splitbutton">
                    <small>(Docs)</small>
                </a>
            </h3>
            <p-splitButton label="Save" icon="fa-check" [model]="splitButtonItems"></p-splitButton>
        </div>
        <div>
            <h3>Radio Buttons
                <a target="_blank" href="{{primengBaseDocumentationUrl}}/radiobutton">
                    <small>(Docs)</small>
                </a>
            </h3>
            <div style="width:250px;margin-bottom:10px">
                <div>
                    <p-radioButton name="group1" value="Option 1" label="Option 1"
                                   [(ngModel)]="radioValue"></p-radioButton>
                </div>
                <div>
                    <p-radioButton name="group1" value="Option 2" label="Option 2"
                                   [(ngModel)]="radioValue"></p-radioButton>
                </div>
                <div>
                    <p-radioButton name="group1" value="Option 3" label="Option 3"
                                   [(ngModel)]="radioValue"></p-radioButton>
                </div>
            </div>
            <div>
                <h3>Toggle Button
                    <a target="_blank" href="{{primengBaseDocumentationUrl}}/togglebutton">
                        <small>(Docs)</small>
                    </a>
                </h3>
                <h5 class="first">Basic - ({{checked1}})</h5>
                <p-toggleButton [(ngModel)]="checked1" [style]="{'width':'150px'}"></p-toggleButton>

                <h5>Customized - ({{checked2}})</h5>
                <p-toggleButton [(ngModel)]="checked2" onLabel="I confirm" offLabel="I reject" onIcon="fa-check-square"
                                offIcon="fa-square" [style]="{'width':'150px'}"></p-toggleButton>
            </div>
            <div>
                <h3>Select Button
                    <a target="_blank" href="{{primengBaseDocumentationUrl}}/selectbutton">
                        <small>(Docs)</small>
                    </a>
                </h3>
                <p-selectButton [options]="selectButtonItems" [(ngModel)]="selectedButtonItem"></p-selectButton>
            </div>
        </div>
    </p-panel>
    <p-panel>
        <p-header>
            <h1>Masks
                <a target="_blank" href="{{primengBaseDocumentationUrl}}/inputmask">
                    <small>(Docs)</small>
                </a>
            </h1>
        </p-header>
        <div>
            <div>
                <span>Basic</span>
                <p-inputMask mask="99-999999" [(ngModel)]="val1" placeholder="99-999999"></p-inputMask>
            </div>
            <div>
                <span>SSN</span>
                <p-inputMask mask="999-99-9999" [(ngModel)]="val2" placeholder="999-99-9999"></p-inputMask>
            </div>
            <div>
                <span>Date</span>
                <p-inputMask mask="99/99/9999" [(ngModel)]="val3" placeholder="99/99/9999"
                             slotChar="mm/dd/yyyy"></p-inputMask>
            </div>
            <div>
                <span>Phone</span>
                <p-inputMask mask="(999) 999 99 99" [(ngModel)]="val4" placeholder="(999) 999-9999"></p-inputMask>
            </div>
            <div>
                <span>Phone Ext</span>
                <p-inputMask mask="(999) 999 99 99? x99999" [(ngModel)]="val5"
                             placeholder="(999) 999-9999? x99999"></p-inputMask>
            </div>
            <div>
                <span>Serial Number</span>
                <p-inputMask mask="a*-999-a999" [(ngModel)]="val6" placeholder="a*-999-a999"></p-inputMask>
            </div>
        </div>
    </p-panel>
    <p-panel>
        <p-header>
            <h1>Forms
                <a target="_blank" href="{{primengBaseDocumentationUrl}}/validation">
                    <small>(Docs)</small>
                </a>
            </h1>
        </p-header>
        <form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
            <p-panel header="Validate">
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            First Name *:
                        </div>
                        <div class="ui-grid-col-6">
                            <input pInputText type="text" formControlName="firstname" placeholder="Required"/>
                        </div>
                        <div class="ui-grid-col-4">
                            <div class="ui-message ui-messages-error ui-corner-all"
                                 *ngIf="!userform.controls['firstname'].valid&&userform.controls['firstname'].dirty">
                                <i class="fa fa-close"></i>
                                Firstname is required
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Last Name *:
                        </div>
                        <div class="ui-grid-col-6">
                            <input pInputText type="text" formControlName="lastname" placeholder="Required"/>
                        </div>
                        <div class="ui-grid-col-4">
                            <div class="ui-message ui-messages-error ui-corner-all"
                                 *ngIf="!userform.controls['lastname'].valid&&userform.controls['lastname'].dirty">
                                <i class="fa fa-close"></i>
                                Lastname is required
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Password *:
                        </div>
                        <div class="ui-grid-col-6">
                            <input pInputText type="password" formControlName="password"
                                   placeholder="Required - Min(6)"/>
                        </div>
                        <div class="ui-grid-col-4">
                            <div class="ui-message ui-messages-error ui-corner-all"
                                 *ngIf="!userform.controls['password'].valid&&userform.controls['password'].dirty">
                                <i class="fa fa-close"></i>
                                <span *ngIf="userform.controls['password'].errors['required']">Password is required</span>
                                <span *ngIf="userform.controls['password'].errors['minlength']">Must be longer than 6 characters</span>
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Description:
                        </div>
                        <div class="ui-grid-col-6">
                            <textarea pInputTextarea type="text" formControlName="description"></textarea>
                        </div>
                        <div class="ui-grid-col-4"></div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Gender *:
                        </div>
                        <div class="ui-grid-col-6">
                            <p-dropdown [options]="genders" formControlName="gender" [autoWidth]="false"></p-dropdown>
                        </div>
                        <div class="ui-grid-col-4">
                            <div class="ui-message ui-messages-error ui-corner-all"
                                 *ngIf="!userform.controls['gender'].valid&&userform.controls['gender'].dirty">
                                <i class="fa fa-close"></i>
                                Gender is required
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2"></div>
                        <div class="ui-grid-col-6">
                            <button pButton type="submit" label="Submit" [disabled]="!userform.valid"></button>
                        </div>
                        <div class="ui-grid-col-4"></div>
                    </div>
                    <div style="text-align:center;margin-top:20px" *ngIf="submitted">
                        Form Submitted
                        <br>
                        {{diagnostic}}
                    </div>
                </div>
            </p-panel>
        </form>
    </p-panel>
    <p-panel>
        <p-header>
            <h1>Panels
                <a target="_blank" href="{{primengBaseDocumentationUrl}}/panel">
                    <small>(Docs)</small>
                </a>
            </h1>
        </p-header>
        <p-panel header="Godfather I" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
            The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
            His beloved son Michael has just come home from the war, but does not intend to become part of his father's
            business.
            Through Michael's life the nature of the family business becomes clear. The business of the family is just
            like the head of the family,
            kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands
            against the good of the family.
        </p-panel>

        <p-panel>
            <p-header>
                <div class="ui-helper-clearfix">
                    <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Custom Header</span>
                    <p-splitButton [style]="{'float':'right'}" label="Save" icon="fa-check"
                                   [model]="splitButtonItems"></p-splitButton>
                </div>
            </p-header>
            The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
            His beloved son Michael has just come home from the war, but does not intend to become part of his father's
            business.
            Through Michael's life the nature of the family business becomes clear. The business of the family is just
            like the head of the family,
            kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands
            against the good of the family.
        </p-panel>
    </p-panel>
    <p-panel>
        <p-header>
            <h1>Accordion
                <a target="_blank" href="{{primengBaseDocumentationUrl}}/accordion">
                    <small>(Docs)</small>
                </a>
            </h1>
        </p-header>
        <h5 class="first">Default</h5>
        <p-accordion>
            <p-accordionTab header="Godfather I" [selected]="true">
                The story begins as Don Vito Corleone, the head of a New York Mafia family, overseeshis daughter's
                wedding. His beloved son ichael has just come home from the war, but does not intend to become part of
                his father's business. T hrough Michael's life the nature of the family business becomes clear. The
                business of the family is just like the head of the family, kind and benevolent to those who give
                respect, but given to ruthless violence whenever anything stands against the good of the family.
            </p-accordionTab>
            <p-accordionTab header="Godfather II">
                Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather
                parallels the young Vito Corleone's rise with his son Michael's spiritual fall, deepening
                The_Godfather's depiction of the dark side of the American dream. In the early 1900s, the child Vito
                flees his Sicilian village for America after the local Mafia kills his family. Vito struggles to make a
                living, legally or illegally, for his wife and growing brood in Little Italy, killing the local Black
                Hand Fanucci after he demands his customary cut of the tyro's business. With Fanucci gone, Vito's
                communal stature grows.
            </p-accordionTab>
            <p-accordionTab header="Godfather III">
                After a break of more than 15 years, director Francis Ford Coppola and writer Mario Puzo returned to the
                well for this third and final story of the fictional Corleone crime family. Two decades have passed, and
                crime kingpin Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his
                promise that his family would one day be completely legitimate.
            </p-accordionTab>
        </p-accordion>

        <h5>Multiple</h5>
        <p-accordion [multiple]="true">
            <p-accordionTab header="Godfather I">
                The story begins as Don Vito Corleone, the head of a New York Mafia family, overseeshis daughter's
                wedding. His beloved son ichael has just come home from the war, but does not intend to become part of
                his father's business. T hrough Michael's life the nature of the family business becomes clear. The
                business of the family is just like the head of the family, kind and benevolent to those who give
                respect, but given to ruthless violence whenever anything stands against the good of the family.
            </p-accordionTab>
            <p-accordionTab header="Godfather II">
                Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather
                parallels the young Vito Corleone's rise with his son Michael's spiritual fall, deepening
                The_Godfather's depiction of the dark side of the American dream. In the early 1900s, the child Vito
                flees his Sicilian village for America after the local Mafia kills his family. Vito struggles to make a
                living, legally or illegally, for his wife and growing brood in Little Italy, killing the local Black
                Hand Fanucci after he demands his customary cut of the tyro's business. With Fanucci gone, Vito's
                communal stature grows.
            </p-accordionTab>
            <p-accordionTab header="Godfather III">
                After a break of more than 15 years, director Francis Ford Coppola and writer Mario Puzo returned to the
                well for this third and final story of the fictional Corleone crime family. Two decades have passed, and
                crime kingpin Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his
                promise that his family would one day be completely legitimate.
            </p-accordionTab>
        </p-accordion>
    </p-panel>
    <p-panel>
        <p-header>
            <h1>Fieldset
                <a target="_blank" href="{{primengBaseDocumentationUrl}}/fieldset">
                    <small>(Docs)</small>
                </a>
            </h1>
        </p-header>

        <p-fieldset legend="Godfather I">
            The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
            His beloved son Michael has just come home from the war, but does not intend to become part of his father's
            business.
            Through Michael's life the nature of the family business becomes clear. The business of the family is just
            like the head of the family,
            kind and benevolent to those who give respect,
            but given to ruthless violence whenever anything stands against the good of the family.
        </p-fieldset>

        <p-fieldset legend="Toggleable" [toggleable]="true">
            The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
            His beloved son Michael has just come home from the war, but does not intend to become part of his father's
            business.
            Through Michael's life the nature of the family business becomes clear. The business of the family is just
            like the head of the family,
            kind and benevolent to those who give respect,
            but given to ruthless violence whenever anything stands against the good of the family.
        </p-fieldset>
    </p-panel>
    <p-panel>
        <p-header>
            <h1>Table
                <a target="_blank" href="{{primengBaseDocumentationUrl}}/datatable">
                    <small>(Docs)</small>
                </a>
            </h1>
        </p-header>
        <p-dataTable [value]="tableItems">
            <p-column *ngFor="let col of tableColumns" [field]="col.field" [header]="col.header"></p-column>
        </p-dataTable>
    </p-panel>
    <p-panel>
        <p-header>
            <h1>Messages
                <a target="_blank" href="{{primengBaseDocumentationUrl}}/messages">
                    <small>(Docs)</small>
                </a>
            </h1>
        </p-header>
        <p-messages [(value)]="msgs"></p-messages>
        <div>
            <button type="button" pButton (click)="showSuccess()" label="Success" class="ui-button-success"></button>
            <button type="button" pButton (click)="showInfo()" label="Info" class="ui-button-info"></button>
            <button type="button" pButton (click)="showWarn()" label="Warn" class="ui-button-warning"></button>
            <button type="button" pButton (click)="showError()" label="Error" class="ui-button-danger"></button>
            <button type="button" pButton (click)="showMultiple()" label="Multiple"></button>
            <button type="button" pButton (click)="clear()" icon="fa-close" style="float:right" label="Clear"></button>
        </div>
    </p-panel>
</main>
