<main>
    <p>
        This page illustrates some PrimeNG Components. Please visit
        <a target="_blank" href="{{primengBaseDocumentationUrl}}">the official PrimeNg Docu</a> for more components and
        detailed information
    </p>
    <p-panel>
        <p-header>
            <h1>Breadcrumb
                <a target="_blank" href="{{primengBaseDocumentationUrl}}/breadcrumb">
                    <small>(Docs)</small>
                </a>
            </h1>
        </p-header>
        <p-breadcrumb [model]="breadCrumbItems"></p-breadcrumb>
    </p-panel>
    <p-panel>
        <p-header>
            <h1>Buttons
                <a target="_blank" href="{{primengBaseDocumentationUrl}}/button">
                    <small>(Docs)</small>
                </a>
            </h1>
        </p-header>
        <div>
            <button pButton type="button" class="ui-button-primary" label="Primary"></button>
            <button pButton type="button" class="ui-button-secondary" label="Secondary"></button>
            <button pButton type="button" class="ui-button-success" label="Success"></button>
            <button pButton type="button" class="ui-button-info" label="Info"></button>
            <button pButton type="button" class="ui-button-warning" label="Warning"></button>
            <button pButton type="button" class="ui-button-danger" label="Danger"></button>
        </div>
        <div>
            <button pButton type="button" label="Click"></button>
            <button pButton type="button" label="Click"></button>
            <button pButton type="button" label="Click"></button>
            <button pButton type="button" label="Disabled"></button>
        </div>
        <div>
            <h3>Split Buttons
                <a target="_blank" href="{{primengBaseDocumentationUrl}}/splitbutton">
                    <small>(Docs)</small>
                </a>
            </h3>
            <p-splitButton label="Save" icon="fa-check" [model]="splitButtonItems"></p-splitButton>
        </div>
        <div>
            <h3>Select Buttons
                <a target="_blank" href="{{primengBaseDocumentationUrl}}/selectbutton">
                    <small>(Docs)</small>
                </a>
            </h3>
        </div>
    </p-panel>

</main>
